@model WebApp.Areas.Admin.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutLogin.cshtml";
}

<div class="d-flex justify-content-center h-100">
    <div class="card">
        <div class="card-header">
            <h3>Đăng Nhập</h3>
            <div class="d-flex justify-content-end social_icon">
                <span><i class="fab fa-facebook-square"></i></span>
                <span><i class="fab fa-google-plus-square"></i></span>
                <span><i class="fab fa-twitter-square"></i></span>
            </div>
        </div>
        <div class="card-body">
            <form asp-controller="User" asp-action="Login" method="post" class="form">
                <input type="hidden" name="requestpath" id="requestpath" value="@ViewBag.RequestPath" />
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input class="form-control" type="text" name="UserName" id="username" />

                </div>
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                    </div>
                    <input class="form-control" type="password" name="Password" id="password" />
                </div>
                <div class="row align-items-center remember">
                    <input type="checkbox">Nhớ Đăng Nhập
                </div>
                <div class="form-group">
                    <input type="submit" value="Đăng Nhập" class="btn float-right login_btn">
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                Bạn Chưa Có Tài Khoản ?<a href="#">Đăng Kí</a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#">Quên Mật Khẩu?</a>
            </div>
        </div>
    </div>
</div>