@{
    ViewData["Title"] = "Home Page";
}
<div class="bg-image" style="background-image: url('~/wwwroot/lib/Photo/unnamed.jpgx');">
    <div class="bg-black-op">
        <div class="content">
            <div class="py-50 mt-20">
                <h1 class="h3 text-white font-w700 mb-10">Tất cả khóa học</h1>
                <h2 class="h5 text-white-op mb-0 font-w400">Hàng trăm khóa học miễn phí được xây dựng bởi Kteam và cộng đồng!</h2>
            </div>
        </div>
    </div>
</div>
